@page "/mealRecipe"
@using AiChef.Shared;
@using System.Text.Json;
@inject HttpClient Http;
@inject NavigationManager Navigation;


<div class="container">

    <h3>Meal Recipe</h3>

</div>






@code {

}
